<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/index.style.css">
    
    <%# This block will render only if a view defines styles %>
    <%- locals.style %>
</head>
<body>

    <% if(!locals.noLoader) { %>
        <%- include('../partials/loader') %>
    <% } %>

    <% if(!locals.noHeader) { %>
        <%- include('../partials/header') %>
    <% }%>

    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>

    <script src="/assets/scripts/index.script.js"></script>

    <%# This block will render only if a view defines scripts %>
    <%- locals.script %>
</body>
</html>
